/*
ここから　リセットCSS 
*/

*, *::before, *::after {
    box-sizing: border-box
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0
}

ul[role='list'], ol[role='list'] {
    list-style: none
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1, h2, h3, h4, button, input, label {
    line-height: 1.1
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
    text-decoration: none;
}

img, picture {
    max-width: 100%;
    display: block
}

input, button, textarea, select {
    font: inherit
}

textarea:not([rows]) {
    min-height: 10em
}

:target {
    scroll-margin-block: 5ex
}

/*
ここまで　リセットCSS 
*/

@font-face {
    font-family: 'ZenKakuGothicNew';
    src: url('/fonts/ZenKakuGothicNew-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ZenKakuGothicNew';
    src: url('/fonts/ZenKakuGothicNew-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ZenKakuGothicNew';
    src: url('/fonts/ZenKakuGothicNew-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ZenKakuGothicNew';
    src: url('/fonts/ZenKakuGothicNew-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ZenKakuGothicNew';
    src: url('/fonts/ZenKakuGothicNew-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body {
    position: relative;
    font-family: 'ZenKakuGothicNew', sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    font-size: 1rem;
    height: 80px;
    border-bottom: 3px solid #222;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.headerContainer {
    margin: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerSNS__icon {
    display: flex;
    align-items: center;
    gap: 60px;
}

.mainContainer {
    margin: 3%;
    background: #eee;
}

.topLogo {

    margin: 120px auto;
}

.topContentsHead {
    display: flex;
    height: 180px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.topContentsInner {
    margin: 160px 8% 20px;
    border-bottom: 2px solid #000;
}

.aboutContentsInner {
    border-bottom: 2px solid #000;
}

.topContentsCaption {
    font-size: 6rem;
    color: #fff;
    letter-spacing: 10px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000,
        -2px 2px 0 #000, 2px -2px 0 #000,
        0px 2px 0 #000, 0 -2px 0 #000,
        -2px 0 0 #000, 2px 0 0 #000;
}

.topContentsDesc {
    width: 40%;
    font-size: 1.6rem;
    font-weight: 700;
}

.globalNav {
    position: absolute;
    top: 80px;
    background: #fff;
    right: 0;
}

.globalNav ul {
    padding: 0;
    margin: 0;
}

.globalNav ul li {
    list-style: none;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    width: 180px;
}

.globalNav ul li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    display: block;
    padding: 20px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000,
        -2px 2px 0 #000, 2px -2px 0 #000,
        0px 2px 0 #000, 0 -2px 0 #000,
        -2px 0 0 #000, 2px 0 0 #000;
}











/* top */

.topBlog, .topWokrs {
    display: grid;
    margin: 0 8%;
}

.topWokrs {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.topBlog {
    display: grid;
    margin: 0 8%;
}


.topWokrs__item {
    background: #fff;
    border: 2px solid #000;
    display: flex;

    justify-content: center;
    align-items: center;
}

.topWokrs__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #222;
}


.topBlog__item {

    border-bottom: 2px solid #000;
    width: 100%;
    padding: 2% 0;
}

.topBlog__item:first-child {
    border-top: 2px solid #000;
}

.topBlog__info {
    display: flex;
    font-size: 1.6rem;
    gap: 60px;
    font-weight: 700;
}

.topBlog__title {
    font-size: 4.8rem;
    font-weight: 900;
}

.topMore {
    font-size: 3rem;
    margin: 8%;
    font-weight: 700;
    text-align: right;
}

.topMore p {
    border-bottom: 2px solid #000;
    display: inline-block;
}

.topAbout {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 600;
}

.topAbout_container {
    display: grid;
    margin: 0 8%;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.topAboutName {
    font-size: 4.8rem;
}

.topAboutNameEng {}